body {
    background-color: gray;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}   
h1, h2, p {
    color:white ;
    text-align: center;
    font-family:italic;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 100px;
    width: 200px;
    background-color:gray;
}
a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}
a:hover {
    background-color:gainsboro;
}
div.gallery {
    margin: 10px;
    border: 5px solid #a86161;
    float: left;
    width: 15%;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 50%;
    height: 100px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
p::first-letter{
    color: rgb(43, 41, 41);
    font-size: xx-large;
}
p::first-line{
    color: brown;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
@media only screen and(max-width:600px) {
    body{
        background-color: gray;
    }
    
}